body{
    background-color: rgb(28, 37, 61);
    font-family: 'Robot', 'Courier New';
    margin: 0;
    padding: 0;

}


p{
    color: white;
    /*font-size: 20px;*/

}

div h2{
    color: rgb(255, 255, 255);
}

/* Id y clases */
#asd {
    font-size: 1.5em;
    font-weight: bold;
}

.parrafo{
    color: rgb(209, 209, 253);
    font-style: italic;
}

a, link{
    display: block;
}

a{
    margin: 25px 10px;
    text-decoration: none;
    color: white;
}

a:hover{
    color: #08d1b6;
}


img{
    display: flex;
    width: 40%;
    margin: auto;
    /* Bordes en la imagen */
    border-radius: 25px; 
}


#asd {
    line-height: 1cm;
    background-color: #063172;
    padding: 30px 30px;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
}

h1{
    background-color: rgb(9, 18, 44);
    padding: 30px 10px;
    text-align: center;
    margin: 0;
    padding: 0;
}


.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(9, 18, 44);
    color: #fff;
    padding: 25px;
    margin: 0;
    text-align: left;
  }
  
  main {
    padding-top: 80px; /* Ajusta este valor según la altura de tu encabezado para evitar superposiciones */
  }